<table>
  <tbody>
    <tr>
      <td>Validar com antivirus (necesário instalar o clamd)</td>
      <td>
        <%= check_box_tag 'settings[scan_for_virus]', true, settings['scan_for_virus'] %>
      </td>
    </tr>
  </tbody>
</table>
